.text {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;

  max-width: 600px;
  margin: 0 auto;
  padding: 12px 16px;
  border-radius: 6px;
  border: 1px solid transparent;
  color: #084298;
  background-color: #e8f4fd;
  border-color: #b6d4fe;
}
.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
}
